@{
    ViewBag.Title = "Task Management";
}
<h2>@ViewBag.Title.</h2>

<style>
    form {
        border: 1px solid black;
    }

   form {
        padding: 15px;
        text-align: left;
        border-bottom: 2px solid grey;
        background-color: aliceblue;
        color: black;
        border: 1px solid black;
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>

<body>

    <p>
        The initial process of establishing a Team Member Task
        Management User Account requires  you to first create an
        User Account. Next, it will require your work First and
        Last Names, Work Email Address and for you to establish
        a password for the account.
    </p><br />

    <p>
        After setting your new Team Member Task User Account, you
        will be re-directed to the Login Page where you can begin
        creating and or modifying your individual Task List.
    </p><br />

    <p>
        The initial process of establishing a Team Member Task
        Management User Account requires  you to first create an
        User Account. Next, it will require your work First and
        Last Names, Work Email Address and for you to establish
        a password for the account.
    </p><br />

    <p>
        Thank you for moving forward with JoSyte Consulting, LLC
        as we continue to improve exisiting processes!
    </p><br /><br />
</body>

<p>
    <strong>
    If you have additional questions contact anyone in the IT
    Department:
<p>Phone at 313-224-2018 </p><br />
<p>email Support at: </strong><a href="mailto:ITServiceDeskt@JoSyteConsulting.com">ITServiceDeskt@JoSyteConsulting.com</a>
   
</p>
