@{
    ViewBag.Title = "Home Page";
}

<style>
    div {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>

<div class="jumbotron">
    <h1>JoSyte Consulting, LLC </h1>
    <p class="lead">Welcome to the New Team Member Task Management Web Application</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/Home/Welcome">
        Click Here to Create Your Task Manager Account&raquo;</a>
    </p>

</div>

<div >
    <div class="col-md-4">
        <h2>Got Questions?</h2>
        <p>
            Do you have additional questions about functionality or need clarification on the type of information
            that should be listed within your Task Manager?
        </p>
        <p><a class="btn btn-default" action="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Existing Task Management User Account?</h2>
        <p>No need to recreate the wheel!</p>
        <p><a class="btn btn-default" href="/Home/TaskMgrLogin">Task Management User Login&raquo;</a></p>
        
    </div>
</div>

