
@{
    ViewBag.Title = "Login";
}


<center>
    <div class="alert alert-success">
        <h1><strong>Success!</strong></h1>

        <h4>Thank you, @ViewBag.First @ViewBag.Last, your registration was successfully processed.</h4>
    </div><br /><br />

</center>